
@font-face {
  font-family: 'SnellRoundhand';
  src:url('SnellRoundhand.ttc');
}

@font-face {
  font-family: 'Lekton';
  src: url('Lekton-Regular.ttf');
}

@font-face {
  font-family: 'Lydian';
  src: url('LydianCursiveBT-Regular.otf');

}

@font-face {
  font-family: 'ConcordeNova';
  src: url('ConcoNovReg.ttf');
}

@font-face {
  font-family: 'Sporting';
  src:url('SportingGrotesque-Regular.otf');

}

@font-face {
  font-family: 'Stanley';
  src: url('HJMOHR+Stanley-Regular.ttf');

}

@@font-face {
  font-family: 'Happytimes';
  src: url('happy-times-at-the-ikob.ttf');

}


#newindex {
    background-color: white;


  }


#title {
    position: relative;
    margin-top: 20px;
    font-family: 'Lydian';
    color: blue;
    font-size: 370px;
    text-align: center;
    padding: 40px;
    margin-bottom: 40px;
    background-image: url('sheryl.png');
    border: 10px solid red;
    z-index: +1;
}

#title p {
  font-family: 'SnellRoundhand';

  color: blue;
  font-size: 70px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  outline-color:inherit;
}

#abstractlink {
  font-family: 'SnellRoundhand';
  color: blue;
  font-size: 30px;
  text-align: right;
  text-decoration: none;

}

#abstractlink a:visited {
  font-family: 'SnellRoundhand';
  color: blue;
  font-size: 30px;
  text-align: right;
  text-decoration: none;

}


#printlink {
  font-family: 'SnellRoundhand';
  color: blue;
  font-size: 30px;
  text-align: right;
  text-decoration: none;

}

#printlink a:visited{
  font-family: 'SnellRoundhand';
  color: blue;
  font-size: 30px;
  text-align: right;
  text-decoration: none;

}


#Abstract {
  background-image: url('blank.jpg');
  bottom: 20px;
  background-color: blue;
  color: blue;
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
  border: 5px solid blue;
  font-family: 'Happytimes';

  margin-left: 200px;
  margin-right: 200px;

}

a:visited {
  text-decoration: none;
}


#Monday a, #Tuesday a, #Wednesday a, #Thursday a, #Friday a {
font-family: 'SnellRoundhand';
font-size:40px;
text-align: left;
position: inherit;
background-image: url('blank.jpg');
background-color: red;
text-decoration: none;

}

.detail-link:hover {
  color: red;


}

.detail-link {
  color: blue;
}


#backg {
  position: relative;
  height: 0;
  overflow: visible;
  background: red;
  z-index: -1;
}
#backg img{
  position: absolute;

}

#manifesto { z-index: 0 }




#Monday
{
  font-family:'Happytimes';
  background-image: url('blank.jpg');
  color: black;
  padding: 10px;
  text-align: left justify;
  position: inherit;
  width: 230px;
  background-color: white;
  float: left;
  margin-right: 5px;
  overflow: hidden;

  border: 5px solid black;



}
#Monday p, #Tuesday p, #Wednesday p, #Thursday p, #Friday p {
  font-family: 'Lydian';
  line-height: normal;


}



#Tuesday, #Wednesday, #Thursday, #Friday
{
  background-image: url('blank.jpg');
  color: black;
  padding: 10px;
  text-align: left justify;
  position: relative;
  top: inherit;
  width: 230px;
  background-color: white;
  display: inline-block;
  margin-right: 5px;
  border: 5px solid black;
  font-family: 'Happytimes';



}

#Conclusion{
  background-image: url('blank.jpg');
  bottom: 20px;
  background-color: blue;
  color: blue;
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
  border: 5px solid blue;
  font-family: 'Happytimes';
  margin-left: 200px;
  margin-right: 200px;


}


 /* .pagecontent {

  color: black;
  padding: 10px;
  text-align: left justify;
  /* position: absolute;
  top: auto; */
  /* width: 1000px; */




#manifesto{
  position: fixed;
  top: 50%; left: 50%;


  background-image: url('blank.jpg');
  font-family: 'Lydian';
  color: red;
  width: 200px;
  font-size: 50px;
  border: 5px solid red;
  box-shadow: blue;
  padding: 20px;

  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);

}

#manifesto a {
  text-decoration: none;
}


#manifesto a:visited
{
  font-family: 'Lydian';
  text-decoration: none;
  color: blue;
  text-decoration: none;

}

#Appendix {
  background-image: url('blank.jpg');
  bottom: 20px;
  background-color: blue;
  color: blue;
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
  border: 5px solid blue;
  font-family: 'Happytimes';
  margin-left: 200px;
  margin-right: 200px;
}


#detail-popup {
  position: fixed;
  top: 20px; bottom: 20px;
  left: 50%;
  width:1000px;
  max-width: calc(100% - 40px);
  background-color:blue;
  font-family: 'Happytimes';
  font-weight: normal;
  color: white;
  font-size: 20px;

  -webkit-transform: translate( -50%, 0 );
          transform: translate( -50%, 0 );

  overflow-y: auto;
  display: none;
  z-index: 999999;
  padding: 20px;
}

#detail-popup p {
  font-family: 'Lydian';
  line-height: normal;

}

#backgabstract {
  position: absolute;
  height: 700px;
  width: 800px;
  overflow: visible;
  background: red;
  z-index: -1;
}
